/* Genel Ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

.logo h1 {
    font-size: 2.5rem;
    letter-spacing: 5px;
}

/* Hero Section */
.hero {
    background-image: url('DSC07343.JPG');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-text h2 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-text p {
    font-size: 1.5rem;
}

/* Blog Post */
.blog-post {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 15px;
}

/* Fotoğraf Boyutu */
.post-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    display: block;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-text h2 {
        font-size: 2rem;
    }

    .post-content h2 {
        font-size: 1.5rem;
    }
}
